apache-airflow[async,celery,postgres,google]==2.5.3
apache-airflow-providers-postgres==5.4.0
redis

-c https://raw.githubusercontent.com/apache/airflow/constraints-${BASE_AIRFLOW_VERSION}/constraints-${IMAGE_PYTHON_VERSION}.txt